<div class="wrapper" >
    <div class="sidebar" data-color="white" data-active-color="danger" *ngIf='shouldView'  #sidebar>
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel" [ngClass]="{'white':shouldView==false}">
        <div class="row">
            <div class="col-md-12" color='primary'>
                <mat-toolbar color='primary'>Tyrewala Dashboard</mat-toolbar>
            </div>
        </div>
        <div class="content" >
            <app-loading [hidden]='!HTTPActivity'></app-loading>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
