.loadingBlock{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(255,255,255,0.8);
    img{
        margin-top: 25%;
    }
}