
<div class="sidebar-wrapper">
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li style="position: fixed;
        bottom: 20px;
        left: 0;" (click)='logout()' routerLinkActive="active">
            <a>
                <i class="nc-icon"></i>
                <p>Logout</p>
            </a>
        </li>
    </ul>
</div>
