<app-loading *ngIf='isLoading'></app-loading>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-cart-simple text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Sales</p>
              <p class="card-title">{{totalSales}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats" (click)='update("sales")'>
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-copy-04 text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Bookings</p>
              <p class="card-title">{{totalBookings}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats" (click)='update("bookings")'>
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-circle-10 text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Customers</p>
              <p class="card-title">{{totalCustomers}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats" (click)='update("customers")'>
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Comission</p>
              <p class="card-title">Rs. {{totalComission}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats" (click)='update("comission")'>
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
          <table  mat-table [dataSource]="dataSource"  matSort='x'>
              <ng-container matColumnDef="customer_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
                <td mat-cell *matCellDef="let row"> {{row.customer_name}} </td>
              </ng-container>
              <ng-container matColumnDef="category_vehicle" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Type </th>
                <td mat-cell *matCellDef="let row"> {{row.category_vehicle}} </td>
              </ng-container>
              <ng-container matColumnDef="final_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment </th>
                <td mat-cell *matCellDef="let row"> {{row.final_price}} </td>
              </ng-container>
              <ng-container matColumnDef="payment_status" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.payment_status}} </td>
              </ng-container>   
              <ng-container matColumnDef="vendor_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Shop Name </th>
                <td mat-cell *matCellDef="let row"> {{row.vendor_name}} </td>
              </ng-container>   
              <ng-container matColumnDef="booking_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking Time </th>
                <td mat-cell *matCellDef="let row"> {{row.booking_date + ' ' + row.booking_time}} </td>
              </ng-container>    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
</div>